<div class="reg">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="reg__form">
    <h1 class="reg__title">Enter in your account</h1>
    <div class="reg__inputs">
      <input
        type="text"
        placeholder="Name"
        class="reg__input"
        *ngIf="isSignUp"
        [formControl]="loginForm.controls.name"
      />
      <input
        type="email"
        placeholder="Email"
        class="reg__input"
        [formControl]="loginForm.controls.email"
      />
      <small class="reg__error" *ngIf="email?.invalid && email?.touched">
        <span *ngIf="email?.errors?.['required']">Email is required</span>
        <span *ngIf="email?.errors?.['email']">Please provide some email</span>
      </small>
      <input
        type="password"
        placeholder="Password"
        class="reg__input"
        [formControl]="loginForm.controls.password"
      />
      <small class="reg__error" *ngIf="password?.invalid && password?.touched">
        <span *ngIf="password?.errors?.['required']"
          >You should have a password</span
        >
        <span *ngIf="password?.errors?.['minlength']"
          >Password must contain at least 6 symbols.Now it has
          {{ loginForm.controls.password.value?.length }}</span
        >
      </small>
      <input
        type="password"
        placeholder="Repeat password"
        class="reg__input"
        *ngIf="isSignUp"
        [formControl]="loginForm.controls.repeatPassword"
      />
      <small
        class="reg__error"
        *ngIf="
          password?.value !== repeatPassword?.value && repeatPassword?.touched
        "
      >
        <span>Password is not the same</span>
      </small>
    </div>
    <div class="reg__image" *ngIf="isSignUp">
      <span class="reg__image-text">Add profile picture</span>
      <img [src]="icon" class="reg__image-img" />
      <input
        type="file"
        class="reg__add-img"
        (change)="onFileSelected($event)"
      />
    </div>
    <div class="reg__remember">
      <input
        type="checkbox"
        class="reg__check"
        [formControl]="loginForm.controls.rememberMe"
      />
      <p class="reg__text">Remember me</p>
    </div>
    <div class="reg__buttons">
      <div class="reg__button" (click)="isSignUp = false">
        <button class="reg__btn">Log In</button>
      </div>
      <p>Or</p>
      <div class="reg__button" (click)="isSignUp = true">
        <button class="reg__btn">Sign Up</button>
      </div>
    </div>
    <div class="reg__submit-button">
      <button
        type="submit"
        class="reg__submit-btn"
        (click)="onSubmit()"
        [disabled]="loginForm.invalid"
      >
        Submit
      </button>
      <button class="reg__submit-btn" (click)="onDelete()">Delete</button>
    </div>
  </form>
</div>
