<div class="reg">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="reg__form">
    <h1 class="reg__title">Enter in your account</h1>
    <div class="reg__inputs">
      <input
        type="text"
        placeholder="Name"
        class="reg__input"
        *ngIf="isSignUp"
        [formControl]="loginForm.controls.name"
      />
      <input
        type="email"
        placeholder="Email"
        class="reg__input"
        [formControl]="loginForm.controls.email"
      />
      <span class="reg__error"></span>
      <input
        type="password"
        placeholder="Password"
        class="reg__input"
        [formControl]="loginForm.controls.password"
      />
      <span class="reg__error"></span>
      <input
        type="password"
        placeholder="Repeat password"
        class="reg__input"
        *ngIf="isSignUp"
        [formControl]="loginForm.controls.repeatPassword"
      />
    </div>
    <div class="reg__image">
      <span class="reg__image-text">Add profile picture</span>
      <img [src]="icon" class="reg__image-img" />
      <input
        type="file"
        class="reg__add-img"
        (change)="onFileSelected($event)"
        [formControl]="loginForm.controls.image"
      />
    </div>
    <div class="reg__remember">
      <input
        type="checkbox"
        class="reg__check"
        [formControl]="loginForm.controls.rememberMe"
      />
      <p class="reg__text">Remember me</p>
    </div>
    <div class="reg__buttons">
      <div class="reg__button" (click)="isSignUp = false">
        <button class="reg__btn">Log In</button>
      </div>
      <p>Or</p>
      <div class="reg__button" (click)="isSignUp = true">
        <button class="reg__btn">Sign Up</button>
      </div>
    </div>
    <div class="reg__submit-button">
      <button type="submit" class="reg__submit-btn" (click)="onSubmit()">
        Submit
      </button>
      <button class="reg__submit-btn" id="delete" (click)="onDelete()">
        Delete
      </button>
    </div>
  </form>
</div>
