<app-overlay
  (click)="overlayClosed()"
  *ngIf="isInfoFirstOpened || isInfoSecondOpened"
></app-overlay>
<div class="shop">
  <div class="shop__container">
    <div class="shop__head">
      <div class="shop__title">
        <h3>SHOP</h3>
      </div>
      <div class="shop__count">
        <div class="shop__balance">{{ clickCount }}</div>
        <h4>Clicks</h4>
      </div>
    </div>
    <div class="shop__items">
      <div class="shop__item">
        <div class="shop__item-image">
          <img [src]="botImg" alt="icon" class="shop__item-img" />
        </div>
        <div class="shop__item_title">
          <h2>
            Clicker level
            <span
              ><a class="shop__item-inf" (click)="openInfoFirst()"
                >info</a
              ></span
            >
          </h2>
        </div>
        <div class="shop__item-info info" *ngIf="isInfoFirstOpened">
          <div class="info__text">
            <p>
              Unlock the power of your clicks with our Clicker Upgrade system!
              <br />
              Here's how it works:
            </p>
            <app-shop-items
              [title]="'Level 1 (Default):'"
              [info]="'Cost: 0 coins. Earn 1 coin per click.'"
            ></app-shop-items>
            <app-shop-items
              [title]="'Level 2:'"
              [info]="'Cost: 30 coins. Earn 2 coins per click.'"
            ></app-shop-items>
            <app-shop-items
              [title]="'Level 3:'"
              [info]="'Cost: 50 coins. Earn 3 coins per click.'"
            ></app-shop-items>
            <app-shop-items
              [title]="'Level 4:'"
              [info]="'Cost: 100 coins. Earn 4 coins per click.'"
            ></app-shop-items>
            <app-shop-items
              [title]="'Level 5:'"
              [info]="'Cost: 150 coins. Earn 5 coins per click.'"
            ></app-shop-items>
            <h2>Your current level is 1</h2>
          </div>
        </div>
        <div class="shop__item-button">
          <p>level 1</p>
          <button class="shop__item-btn">Upgrade</button>
        </div>
      </div>
      <div class="shop__item">
        <div class="shop__item-image">
          <img [src]="clickImg" alt="icon" class="shop__item-img" />
        </div>
        <div class="shop__item-title">
          <h2>
            Auto-clicker
            <span
              ><a class="shop__item-inf" (click)="openInfoSecond()"
                >info</a
              ></span
            >
          </h2>
        </div>
        <div class="shop__item-info info" *ngIf="isInfoSecondOpened">
          <div class="info__text">
            <p>
              This nifty tool enhances your clicking efficiency by automatically
              generating coins for you.
              <br />
              <br />
              Here's what you need to know:
            </p>
            <br />
            <ul>
              <li>
                <h4 class="title">Cost:</h4>
                The AutoClicker can be yours for 500 coins.
              </li>
              <li>
                <h4 class="title">Activation:</h4>
                It operates exclusively when the browser tab is open, ensuring
                that you reap its benefits while actively engaged.
              </li>
              <li>
                <h4 class="title">Earnings:</h4>
                With its swift performance, the AutoClicker generates 3 coins
                per second, exponentially boosting your wealth accumulation.
              </li>
            </ul>
          </div>
        </div>
        <div class="shop__item-button">
          <button class="shop__item-btn">Buy</button>
        </div>
      </div>
    </div>
    <app-back-button routerLink="/"></app-back-button>
  </div>
</div>
