.button {
  :hover {
    font-size: 31px;
  }
}

.btn {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  background-color: #0e005d;
  padding: 10px;
  border-radius: 10%;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  cursor: pointer;
}
