@import "../../styles/mixin.scss";

.reg {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include _bg-styles;

  &__title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__input {
    width: 330px;
    height: 30px;
    padding: 15px;
    font-size: 20px;
  }

  &__remember {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 20px;
  }

  &__check {
    width: 17px;
    cursor: pointer;
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }

  &__button :hover {
    text-decoration: underline;
  }

  &__btn {
    font-size: 20px;
    cursor: pointer;
    background: inherit;
    font-size: Roboto;
    color: #fff;
    font-weight: 700;
    border: none;
  }
}
