<div class="reg">
  <h1 class="reg__title">Enter in your account</h1>
  <div class="reg__inputs">
    <input type="text" placeholder="Name" class="reg__input" *ngIf="isSignUp" />
    <input type="email" placeholder="Email" class="reg__input" />
    <input type="password" placeholder="Password" class="reg__input" />
    <input
      type="password"
      placeholder="Repeat password"
      class="reg__input"
      *ngIf="isSignUp"
    />
  </div>
  <div class="reg__remember">
    <input type="checkbox" class="reg__check" />
    <p class="reg__text">Remember me</p>
  </div>
  <div class="reg__buttons">
    <div class="reg__button" (click)="onLogIn()">
      <button class="reg__btn">Log In</button>
    </div>
    <p>Or</p>
    <div class="reg__button" (click)="onSignUp()">
      <button class="reg__btn">Sign Up</button>
    </div>
  </div>
</div>
