<app-overlay *ngIf="isRegged"></app-overlay>
<div class="main">
  <div class="main__account">
    <a class="main__account_btn" routerLink="account">Account</a>
  </div>
  <div class="main__reg" *ngIf="isRegged">
    <h1 class="main__reg_title">Enter in your account</h1>
    <div class="main__reg_inputs">
      <input type="text" placeholder="Name" class="main__reg_input" />
      <input type="text" placeholder="Email" class="main__reg_input" />
      <input type="text" placeholder="Password" class="main__reg_input" />
      <input
        type="text"
        placeholder="Repeat password"
        class="main__reg_input"
      />
    </div>
    <div class="main__reg_remember">
      <input type="checkbox" class="main__reg_check" />
      <p class="main__reg_text">Remember me</p>
    </div>
    <div class="main__reg_buttons">
      <div class="main__reg_button">
        <a class="main__reg_btn">Log In</a>
      </div>
      <p>Or</p>
      <div class="main__reg_button">
        <a class="main__reg_btn">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="main__clicker">
    <div class="main__clicker_count">
      <p class="main__clicker_count-number">{{ clickCount }}</p>
    </div>
    <div class="main__clicker_button" (click)="increaseClicks()">
      <a class="main__clicker_button-btn">Click</a>
    </div>
  </div>
  <div class="main__footer">
    <a class="main__footer_top" routerLink="top-list">Top</a>
    <a class="main__footer_output" routerLink="shop">Clicker upgrade</a>
    <a class="main__footer_logout">Logout</a>
  </div>
</div>
