<div class="main">
  <div class="main__account">
    <a class="main__account-btn" [routerLink]="routerLinks.Account">Account</a>
  </div>
  <div class="main__clicker">
    <div class="main__clicker-count">
      <p class="main__clicker-count-number">{{ clickCount }}</p>
    </div>
    <div class="main__clicker-button" (click)="increaseClicks()">
      <button class="main__clicker-button-btn">Click</button>
    </div>
  </div>
  <div class="main__footer">
    <a class="main__footer-top" [routerLink]="routerLinks.TopList">Top</a>
    <a class="main__footer-output" [routerLink]="routerLinks.Shop"
      >Clicker upgrade</a
    >
    <a
      class="main__footer-logout"
      [routerLink]="routerLinks.Auth"
      (click)="deleteAccount()"
      >Logout</a
    >
  </div>
</div>
