<div class="top">
  <div class="top__container">
    <div class="top__items">
      <div class="top__item">
        <div class="top__item-position">1</div>
        <a class="top__item-icon">
          <img
            [src]="icon"
            alt="avatar"
            [routerLink]="routerLinks.Account"
            class="top__item-img"
          />
        </a>
        <a class="top__item-nickname" routerLink="/account">Name</a>
      </div>
    </div>
    <app-back-button routerLink=""></app-back-button>
  </div>
</div>
