<div class="top">
  <div class="top__container">
    <div class="top__items">
      <div class="top__item">
        <div class="top__item_position">1</div>
        <a class="top__item_icon">
          <img
            [src]="icon"
            alt="avatar"
            routerLink="/account"
            class="top__item_img"
          />
        </a>
        <a class="top__item_nickname" routerLink="/account">Name</a>
      </div>
    </div>
    <app-back-button routerLink=""></app-back-button>
  </div>
</div>
